

@{
    TempData["Title"] = "RegisterSuccess";
}

<div class="container text-center mt-5">
    <h2>Registration Successful </h2>

    <p>Your Account Number is:</p>

    <h3 class="text-success">
        @TempData["AccountNumber"]
    </h3>

    <a asp-controller="Account" asp-action="Login" class="btn btn-primary mt-3">
        Login Now
    </a>
</div>